h1{
	text-align: center;
	font: bold 25px Tahoma;
	margin: 20px;
}
a{
	color:white;
	text-decoration: none;
	padding: 4px;
}
#cerca-totale{
	display: inline-flex;
	margin: 1% 0% 1% 2.1%;
	width: 95.5%;
}
#cercanome_feedback{
	margin-left: 10px;
	margin-top: 2px;
}
#co{
	margin-left: 10px;
	margin-top: 2px;
	width: 100px;
}
#risultato{
	padding: 2px;
	margin-left: 68.92%;
	border: 1px solid grey;
	width: 150px;
}
.bordorisultato{
	background: linear-gradient(to bottom, #80B7DF, #1e8cd8);
}
td a{
	color: black;
}
#footer{
	display: flex;
	justify-content: center;
	border-bottom: 2px solid orange;
	border-top: 2px solid orange;
	padding: 20px;
}
table{
	margin-left: 2%;
	width: 96%;
	border-collapse:separate; 
	border-spacing:2px 2px;
	margin-bottom: 50px;
}
th{
	border: 1px solid grey;
	padding: 5px;
	font: Bold 13px Tahoma;
}
td{
	border: 1px solid grey;
	vertical-align: middle;
	padding: 0px 5px;
}
tr:nth-child(even){
	background: #ececec;
}
.highlight{
	background-color: yellow;
}
.grey{
	color: grey;
}
#hoverdiv{
	display: none;
	position: absolute;
	font-size: 14px;
	background-color: white;
	color: #404040;
	border: 1px solid #999;
	padding: 6px;
}