h1{
	text-align: center;
	font: bold 25px Tahoma;
	margin: 20px;
}
a{
	color:white;
	text-decoration: none;
	padding: 4px;
}
#footer{
	display: flex;
	justify-content: center;
	border-bottom: 2px solid orange;
	border-top: 2px solid orange;
	padding: 20px;
}
table{
	margin-left: 15%;
	width: 70%;
	border-collapse:separate; 
	border-spacing:0px 2px;
}
th{
	background: linear-gradient(#515763 0%, #2f3540 100%);
	padding: 5px;
	color: white;
	font: Bold 13px Tahoma;
}
td{
	background: linear-gradient(to bottom, #80B7DF, #1e8cd8);
	vertical-align: middle;
	color: white;
}
td:nth-child(1){
	padding: 0px 10px;
}